@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

#brigl-container {
    position: relative;
}

#brigl-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#brigl-overlay:before {
    content: ' ';
    display: block;
    height: 50%;
}

img.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.navbar {
    background-image: linear-gradient(15deg, #F3F7F8, #1E4DB9) !important;
}

.recent-file:hover {
    background-color: rgba(0,0,0,.075);
}