{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md">
            <h1>Welcome to the LDraw Model Repository</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">Welcome to the LDraw OMR, the 'Official Model Repository'. Here you can find LDraw files of official models released by LEGO.</p>
            <hr />

            <h2>What is this?</h2>
            <p>The model repository is a database of files in the 'LDraw File Format' describing models that are released as sets by LEGO. It also includes a specification of how the files should be named and structured (the OMR specification). If you want your models to be submitted to this website, you first need to make sure your files are according the OMR spec. You can read the specification here. And here is a tutorial on how to make your LDraw files OMR compliant.</p>

            <h2>How to use this website?</h2>
            <p>This website is made purely for organizing and accessing all the OMR files. This site is not meant to be used as a database for LEGO sets, there are a lot of better websites for that. If you're looking for an LDraw file for a specific set, you can enter the set number at the top search bar. If you just want to go through all available files and filter through them, you can go to the all files page.</p>

            <h2>How can I submit files?</h2>
            <p>If you have LDraw files of official LEGO sets and you've made them OMR compliant, you can submit them here at the LDraw forum. At the moment we don't have an onsite submit form.</p>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    Latest Files
                </div>
                <ul class="list-group list-group-flush">
                    {% for file in recent_files %}
                        <li class="list-group-item recent-file">
                            <div class="row no-gutters">
                                <div class="col-md-3">
                                    <img src="{{ file.model.set_img_url }}" class="card-img"/>
                                </div>
                                <div class="col-md-9 pl-3">
                                    <ul class="list-unstyled">
                                        <li><b>{{ file.model }}</b></li>
                                        <li><i>{{ file.main_or_alternate_str }}</i></li>
                                        <li>By {{ file.author }}</li>
                                    </ul>
                                </div>
                            </div>

                            <a href="{% url 'file_detail' file_id=file.id %}" class="stretched-link"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}